<h5 style="margin-left: 2%;">Delete</h5>

<div style="width: 60%; margin-left: 5%;">
  <form action="/deletebyname" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <button type="submit" class="btn btn-danger">Delete by name</button>
  </form>
  <form action="/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete All</button>
  </form>
</div>